<!DOCTYPE html>
<html>
  <head>
    <title>Misha Petrov. Full-stack web developer | Blockchain enthusiast | I strive for perfection and simplicity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="logo">
      <div class="clip-text logo">MISHA PETROV</div>
    </div>
    <%= yield %>
  </body>
</html>
